body {
  padding-top: 54px;
  height: 100%; }
  @media (min-width: 992px) {
    body {
      padding-top: 56px; } }

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.portfolio-item {
  margin-bottom: 30px; }

.bg-blue {
  background-color: #30AAAB; }

.btn-primary, .btn-primary:hover {
  color: #30AAAB;
  background-color: #ffffff;
  border-color: #ffffff; }

.btn-primary:hover {
  background-color: #A6ABB0;
  border-color: #A4A8AD; }

h1, h2, h3, h4, p, a {
  color: #535D66; }

footer {
  bottom: 0;
  position: relative;
  width: 100% !important; }

.displayFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95vh; }

.row {
  margin-top: 50px; }

